<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>President-X: Play like you mean it!</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="static/bower_components/bootstrap-social/bootstrap-social.css">-->
    <!-- font-awesome -->
    <link rel="stylesheet" href="static/_css/font-awesome.min.css">
    <link href="static/_css/_cover.css" rel="stylesheet">
    <link href="static/_css/_signin.css" rel="stylesheet">
    <link href="static/_css/_lock.css" rel="stylesheet">
    <!-- Google fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="curtain"></div>
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
	      <!--TODO: Fixed alignment-->
              <!--<h3 class="masthead-brand">Presidential-X</h3>-->
            </div>
          </div>

          <div class="container">
              <div id="login-container" class="form-signin">
		<!-- Auth0 form embedded here -->
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&#169;&nbsp;2015-10&nbsp;<a href="#">Jo Chasinga</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://cdn.auth0.com/js/lock-7.min.js"></script>
    <script type="text/javascript">
        var lock = new Auth0Lock('DjhO1VyfUgOozHXlBkwOxI07e31xwmeX', 'golfr-io.auth0.com')
        lock.show({
            container: 'login-container',
            icon: "static/img/golfr-avatar.png",
            rememberLastLogin: false,
	    // This is for my docker VM
            // callbackURL: 'http://192.168.99.100:5000/callback'
            callbackURL: 'http://127.0.0.1:8000/callback'
        })
    </script>
  </body>
</html>
